/* google font "Azeret Mono" */

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* banner background setup */
.banner-bg{
    background-image: url(../assets/Hero-bg.png);
    background-position:center;
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 0px 150px;
}
 /* nav title */
 .nav-title{
    font-size: 28px;
    font-weight: 800px;
 }

 /* nav download */
.nav-download{
    font-size: 20px;
    font-weight: 600px;
    border-radius:8px;
    padding: 17px 24px;
    margin: 17px 24px;
    color: rgba(13, 19, 33, 1);
    background-color: white;
    border: 1px solid;

}
/* banner content design */
.banner-content{
    text-align: center;
    margin: 26px 221px 45px 221px;
}
.banner-img{
    margin-top: 26px;
    margin-bottom: 32px;
    /* width: 240px;
    height: 240px; */
}
.banner-head{
    margin-bottom:24px ;
    font-size: 48px;
    font-weight: 800px;
    color: #0D1321;

}
.banner-des{
    margin-bottom: 32px;
    font-size: 16px ;
    color: rgba(13, 19, 33, 1);


}
.banner-button{
    margin-bottom: 45px;
    padding: 21px 24px ;
    font-size: 20px;
    font-weight: 600px;
    background-color: #0D1321;
    color: #FFFFFF ;
    border-radius: 8px;
}

/* ........................................... */
main {
    width: 80%;
    max-width: 1140px;
    margin: 0 auto; 
}

.why-web-development .inner-card {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}

.card{
    /* border: 5px solid tomato; */
    padding:48px ;
}

.container{
    /* ....... */
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-top: 74px;
    border-radius: 16px;

}
.why-web-development h2{
    text-align: center;
    font-size: 32;
    font-weight: 800px;
    margin-bottom: 24px;
}
.why-web-development p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
    color: rgba(13, 19, 33, 1);
}

.card-content{
    /* border: 1px solid; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.web-img1{
    margin-left: 98px;
}
.web-img2{
    margin-right: 32px;
}
.web-img3{
    margin-left: 133px;
}
.btn{
    display: inline-block;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600px;
    border: 1px solid black;
    text-decoration: none;
    margin-top: 32px;
}
.btn a{
    text-decoration: none;
    color: #0D1321;
}
 
.card-content h3{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 16px;
    text-align: left;

}
.card-content p{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 32px;
    text-align: left;

}

/* linear gradient to right */
.linear-gra-right{
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
}
.linear-gra-left{
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
}


