/* google font "Azeret Mono" */

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* banner background setup */
.banner-bg{
    background-image: url(../assets/Hero-bg.png);
    background-position:center;
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 0px 150px;
}
 /* nav title */
 .nav-title{
    font-size: 28px;
    font-weight: 800px;
 }

 /* nav download */
.nav-download{
    font-size: 20px;
    font-weight: 600px;
    border-radius:8px;
    padding: 17px 24px;
    margin: 17px 24px;
    color: rgba(13, 19, 33, 1);
    background-color: white;
    border: 1px solid;

}
/* banner content design */
.banner-content{
    text-align: center;
    margin: 26px 221px 45px 221px;
}
.banner-img{
    margin-top: 26px;
    margin-bottom: 32px;
    /* width: 240px;
    height: 240px; */
}
.banner-head{
    margin-bottom:24px ;
    font-size: 48px;
    font-weight: 800px;
    color: #0D1321;

}
.banner-des{
    margin-bottom: 32px;
    font-size: 16px ;
    color: rgba(13, 19, 33, 1);


}
.banner-button{
    margin-bottom: 45px;
    padding: 21px 24px ;
    font-size: 20px;
    font-weight: 600px;
    background-color: #0D1321;
    color: #FFFFFF ;
    border-radius: 8px;
}
.why-we-dev{
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(13, 19, 33, 0.02);
}

.web-dev-container{
    display: flex;
    /* gap:32px ; */
    justify-content: space-around;
}
