/* google font "Azeret Mono" */

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* banner background setup */
.banner-bg{
    background-image: url(../assets/Hero-bg.png);
    background-position:center;
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 0px 150px;
}
 /* nav title */
 .nav-title{
    font-size: 28px;
    font-weight: 800px;
 }

 /* nav download */
.nav-download{
    font-size: 20px;
    font-weight: 600px;
    border-radius:8px;
    padding: 17px 24px;
    margin: 17px 24px;
    color: rgba(13, 19, 33, 1);
    background-color: white;
    border: 1px solid;

}
/* banner content design */
.banner-content{
    text-align: center;
    margin: 26px 221px 45px 221px;
}
.banner-img{
    margin-top: 26px;
    margin-bottom: 32px;
    /* width: 240px;
    height: 240px; */
}
.banner-head{
    margin-bottom:24px ;
    font-size: 48px;
    font-weight: 800px;
    color: #0D1321;

}
.banner-des{
    margin-bottom: 32px;
    font-size: 16px ;
    color: rgba(13, 19, 33, 1);


}
.banner-button{
    margin-bottom: 45px;
    padding: 21px 24px ;
    font-size: 20px;
    font-weight: 600px;
    background-color: #0D1321;
    color: #FFFFFF ;
    border-radius: 8px;
}

/* ........................................... */
main {
    width: 80%;
    max-width: 1140px;
    margin: 0 auto; 
}

.why-web-development .inner-card {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}

.card{
    /* border: 5px solid tomato; */
    padding:48px ;
}

.why-web-development .container{
    /* ....... */
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-top: 74px;
    border-radius: 16px;

}
.why-web-development h2{
    text-align: center;
    font-size: 32;
    font-weight: 800px;
    margin-bottom: 24px;
}
.why-web-development p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
    color: rgba(13, 19, 33, 1);
}

.card-content{
    /* border: 1px solid; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.web-img1{
    margin-left: 98px;
}
.web-img2{
    margin-right: 32px;
}
.web-img3{
    margin-left: 133px;
}
.btn{
    display: inline-block;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600px;
    border: 1px solid black;
    text-decoration: none;
    margin-top: 32px;
}
.btn a{
    text-decoration: none;
    color: #0D1321;
}
 
.card-content h3{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 16px;
    text-align: left;

}
.card-content p{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 32px;
    text-align: left;

}

/* linear gradient to right */
.linear-gra-right{
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
}
.linear-gra-left{
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
}

/* margin why-web-development section */
.why-web-development{
    margin-bottom: 90px;
}

/* .............."Main"......section-"my Inspiration".....Start........ */

.my_inspiration{
    margin-bottom: 151px;
}
.inspiration-title{
    text-align: center;
    font-size: 32px;
    font-weight: 800px;
    color: #0D1321;
    margin-bottom: 24px;

}
.inspiration-des{
    text-align: center;
    font-size: 16px;
    color: rgba(13, 19, 33, 1);
    margin-bottom: 48px;
}

.inspiration-video{
    border-radius: 16px;
    
}
.youtube-video{
    border: .5px solid rgba(13, 19, 33, 0.2);;
    padding: 32px;
    border-radius: 16px;
    overflow: hidden;
    align-items: center;
    
}
.youtube-video iframe{
    /* align-items: center; */
    border-radius: 16px;
}

/* ............Targets Section Start.............. */

.first-target-title{
    margin-bottom: 24px;
    text-align: center;
    font-size: 32px;
    font-weight: 800px;
}
.first-target-des{
    text-align: center;
    margin-bottom: 48px;
    font-size: 16px;
    color:#0D1321 ;
}
.skills-container{
    /* border: 3px solid tomato; */
    margin-bottom: 111px;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    /* border-radius: 16px; */
}

.skill-name{
    /* border: 3px solid green; */
    padding: 40px;
    text-align: start;
    border-radius: 16px;
}
.skill-image{
    margin-bottom: 24px;
}
.skill-title{
    font-size: 24px;
    font-weight: 800px;
    margin-bottom: 8px;
}
.skill-des{
    font-size: 16px;
    color: #0D1321 ;
    margin-bottom: 24px ;
}
.skill-name a{
    color: #0D1321;
}

.skill-color1{
    background-color: rgba(255, 76, 30, 0.05);
}
.skill-color2{
    background-color: rgba(0, 76, 232, 0.05);
}
.skill-color3{
    background-color: rgba(255, 223, 0, 0.05);
}

/* ............Section-Support..........start here */
.suppot-bg{
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken; 

}
.need-support{
    border:1px solid white;
    margin-bottom: 80px;
    border-radius: 16px;
}
.support-container{
    /* border: 5px solid goldenrod; */
    margin: 64px 48px;
}
.support-title{
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700px;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    color: #FFFFFF;

}
.support-des{
    margin-bottom: 24px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.message-me input[type="text"]{
    /* display: inline-block */
    width: 548px;
    height: 57px;
    padding: 19px 215px 19px 20px ;
    font-size: 16px ;
    color: rgba(13, 19, 33, 0.4);
    border-radius: 8px;
    margin-right: 16px;
    margin-left: 180px;
    border: none;
}
.message-me input[type="submit"]{
    /* display: flex; */
    width: 120px;
    height:57px ;
    padding: 17px 20px;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: none;
}

/* ...........footer............. */
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 5px solid blueviolet; */
    background-color: rgba(13, 19, 33, 0.03);
    height: 100px;
    
    
   

}
.footer-items{
    width: 1140px;
    display: flex;
    align-items: center;
    gap: 527px;
    margin-left: 150px;
    margin-right: 150px;
    
}
.footer-title{
    margin-top: 6.5px ;
    margin-bottom: 6.5px;
    /* margin-right: 526px; */
    font-size: 20px;
    font-weight: 600px;
    
}
.socil-media{
    display: flex;
    gap: 24px;
    margin-top: 6.5px ;
    margin-bottom: 6.5px;
}